 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(64, 92, 73, 0.5), rgba(64, 92, 73, 0.5)), linear-gradient(to bottom, rgba(229, 229, 229, 1), rgba(229, 229, 229, 1));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 533px;
}

.u-section-1 .u-group-elements-1 {
  width: 510px;
  min-height: 527px;
  height: auto;
  margin: -34px auto 40px;
}

.u-section-1 .u-image-1 {
  width: 396px;
  height: 276px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 29px 0 0;
}

.u-section-1 .u-countdown-1 {
  margin: 41px auto 0;
  padding: 0;
}

.u-section-1 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-number-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-number-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-number-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-number-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-number-5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-number-6 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-number-7 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-number-8 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-number-9 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-number-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-number-11 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-1 .u-countdown-number-12 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-number-13 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-number-14 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-number-15 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 384px;
    min-height: 359px;
    margin-top: -6px;
    margin-bottom: 15px;
    margin-left: -20px;
  }

  .u-section-1 .u-image-1 {
    width: 298px;
    height: 208px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 3px;
    margin-right: 28px;
    margin-left: 20px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 688px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 115px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  width: 636px;
  margin: 29px auto 0;
}

.u-section-2 .u-image-2 {
  width: 354px;
  height: 442px;
  margin: -129px auto 0 75px;
}

.u-section-2 .u-image-3 {
  width: 198px;
  height: 248px;
  margin: -158px auto 0 153px;
}

.u-section-2 .u-shape-1 {
  width: 443px;
  height: 378px;
  background-image: none;
  --color-var: #405c4980;
  margin: -378px 44px 0 auto;
}

.u-section-2 .u-map-1 {
  height: 349px;
  width: 416px;
  margin: -363px 58px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -286px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 387px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -930px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -100px;
    margin-left: -50px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -152px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -378px;
    margin-right: 0;
  }

  .u-section-2 .u-map-1 {
    margin-right: 14px;
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 109px;
    margin-top: 78px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 75px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-2 .u-image-1 {
    height: 69px;
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-image-2 {
    width: 121px;
    height: 151px;
    margin-top: -37px;
    margin-left: -11px;
  }

  .u-section-2 .u-image-3 {
    width: 86px;
    height: 107px;
    margin-top: -51px;
  }

  .u-section-2 .u-shape-1 {
    height: 154px;
    width: 198px;
    margin-top: -154px;
    margin-right: 0;
  }

  .u-section-2 .u-map-1 {
    height: 141px;
    width: 182px;
    margin-top: -148px;
    margin-right: 8px;
    margin-bottom: 38px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 529px;
}

.u-section-3 .u-image-1 {
  width: 418px;
  height: 279px;
  margin: 37px 119px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: -279px 237px 0 267px;
}

.u-section-3 .u-image-2 {
  width: 109px;
  height: 109px;
  margin: -69px 354px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 185px 169px 0 621px;
}

.u-section-3 .u-image-3 {
  width: 308px;
  height: 205px;
  margin: -426px auto 0 132px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 19px 687px 60px 119px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 51px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -293px;
    margin-right: 137px;
    margin-left: 167px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 184px;
    margin-right: 69px;
    margin-left: 521px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 587px;
    margin-left: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-3 .u-image-1 {
    width: 266px;
    height: 178px;
    margin-top: 67px;
    margin-right: auto;
    margin-left: 412px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -208px;
    margin-right: 27px;
    margin-left: 57px;
  }

  .u-section-3 .u-image-2 {
    width: 67px;
    height: 67px;
    margin-top: -48px;
    margin-right: 184px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 160px;
    margin-right: 0;
    margin-left: 370px;
  }

  .u-section-3 .u-image-3 {
    width: 171px;
    height: 113px;
    margin-top: -347px;
    margin-left: 87px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 32px;
    margin-right: 386px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-top: 48px;
    margin-left: 274px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -290px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 175px;
    margin-left: 190px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 165px;
    height: 111px;
    margin-top: 198px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -299px;
  }

  .u-section-3 .u-image-2 {
    width: 47px;
    height: 47px;
    margin-top: -35px;
    margin-right: 50px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 262px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 116px;
    height: 78px;
    margin-top: -408px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 14px;
    margin-right: 0;
  }
} .u-section-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/fondorayas.jpg");
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 1243px;
}

.u-section-4 .u-image-1 {
  width: 761px;
  height: 972px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1025px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-4 .u-image-1 {
    width: 496px;
    height: 634px;
    margin-top: 162px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 503px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-4 .u-image-1 {
    height: 343px;
    width: 268px;
    margin-top: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 344px;
}

.u-section-5 .u-text-1 {
  margin: 20px auto 0 20px;
}

.u-section-5 .u-image-1 {
  width: 176px;
  height: 176px;
  margin: 85px auto 0 429px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  margin: -240px 0 0 20px;
}

.u-section-5 .u-text-3 {
  margin: 66px 400px 60px 537px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 99px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -255px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 350px;
    margin-left: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 128px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -284px;
  }

  .u-section-5 .u-text-3 {
    width: 203px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 138px;
    margin-left: 364px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -294px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 209px;
    margin-left: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-5 .u-image-1 {
    width: 90px;
    height: 90px;
    margin-top: 206px;
    margin-right: 29px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: -276px;
  }

  .u-section-5 .u-text-3 {
    margin: 64px auto 31px;
  }
}