 .u-section-1 {
  filter: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 620px;
}

.u-section-1 .u-image-1 {
  width: 708px;
  height: 708px;
  margin: -88px 184px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 253px;
  height: 108px;
  margin: -135px 411px 27px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: 12px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -134px;
    margin-right: auto;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 340px;
    margin-top: 192px;
    margin-right: -7px;
  }

  .u-section-1 .u-image-2 {
    width: 151px;
    height: 65px;
    margin-top: 120px;
    margin-bottom: 7px;
  }
}