 .u-section-1 {
  filter: none;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('/images/WhatsAppImage2025-10-07at19.33.231.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1300px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  width: 859px;
  margin: 565px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 539px 0 37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin: 283px -13px 54px 13px;
  }
} .u-section-2 {
  background-image: linear-gradient(to bottom, rgba(64, 92, 73, 0.5), rgba(64, 92, 73, 0.5)), linear-gradient(to bottom, rgba(229, 229, 229, 1), rgba(229, 229, 229, 1));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 661px;
}

.u-section-2 .u-group-elements-1 {
  width: 510px;
  min-height: 527px;
  margin: 55px auto 60px;
}

.u-section-2 .u-image-1 {
  width: 396px;
  height: 276px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 29px 0 0;
}

.u-section-2 .u-countdown-1 {
  margin: 41px auto 0;
  padding: 0;
}

.u-section-2 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-1 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-number-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-label-1 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-2 .u-countdown-separator-1 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-2 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-number-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-label-2 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-2 .u-countdown-separator-2 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-3 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-number-6 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-7 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-label-3 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-2 .u-countdown-separator-3 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-4 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-number-8 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-9 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-label-4 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-2 .u-countdown-separator-4 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-5 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-number-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-11 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-label-5 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-2 .u-countdown-separator-5 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-6 {
  font-size: 3.75rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
}

.u-section-2 .u-countdown-number-12 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-13 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-14 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-number-15 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-countdown-label-6 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 340px;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(64, 92, 73, 0.5), rgba(64, 92, 73, 0.5)), url('/images/fondorayasopacidad50.jpg'), linear-gradient(to bottom, rgba(229, 229, 229, 1), rgba(229, 229, 229, 1));
  background-size: cover, cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 599px;
}

.u-section-3 .u-gallery-1 {
  height: 451px;
  width: 803px;
  margin: 60px auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-3 .u-carousel-item-2 {
    margin-right: initial;
  }

  .u-section-3 .u-carousel-item-3 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 732px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 564px;
  filter: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-4 .u-group-1 {
  min-height: 152px;
  margin-top: 30px;
  --radius: 30px;
  height: auto;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 17px;
  padding-right: 17px;
}

.u-section-4 .u-text-2 {
  margin: 28px 1px 0 84px;
}

.u-section-4 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: -69px auto 0 13px;
  padding: 0;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 21px 0 0 auto;
}

.u-section-4 .u-image-1 {
  filter: none;
  height: 249px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 541px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 99px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -140px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 41px;
  }

  .u-section-4 .u-image-1 {
    inset: auto;
    height: 200px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 481px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: -54px;
    margin-left: 90px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -68px;
    margin-left: 30px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 30px;
    margin-right: -1px;
    padding: 9px 30px 10px;
  }

  .u-section-4 .u-image-1 {
    height: 146px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 342px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 21px;
    margin-right: 41px;
  }

  .u-section-4 .u-image-1 {
    height: 253px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 513px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 25px;
    padding-bottom: 95px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 19px;
    margin-right: -48px;
    margin-left: 68px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -60px;
    margin-left: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 30px;
    margin-right: 5px;
  }

  .u-section-4 .u-image-1 {
    height: 156px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 360px;
  }
} .u-section-5 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(64, 92, 73, 0.5), rgba(64, 92, 73, 0.5)), linear-gradient(to bottom, rgba(229, 229, 229, 1), rgba(229, 229, 229, 1));
  background-size: cover, cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 1298px;
}

.u-section-5 .u-shape-1 {
  width: 306px;
  height: 306px;
  margin: 60px 198px 0 auto;
}

.u-section-5 .u-shape-2 {
  width: 146px;
  height: 146px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 620px auto 0 276px;
}

.u-section-5 .u-image-1 {
  width: 791px;
  height: 791px;
  background-image: url("/images/WhatsAppImage2025-10-07at19.28.15.jpeg");
  background-position: 50% 50%;
  margin: -1029px auto 0 32px;
}

.u-section-5 .u-shape-3 {
  width: 245px;
  height: 245px;
  margin: -181px auto 0 13px;
}

.u-section-5 .u-group-1 {
  width: 621px;
  min-height: 550px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-size: cover;
  margin: -270px 13px 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 60px 50px 50px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1300px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: 102px;
  }

  .u-section-5 .u-shape-2 {
    width: 120px;
    height: 120px;
    margin-left: 198px;
  }

  .u-section-5 .u-image-1 {
    width: 728px;
    height: 728px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-shape-3 {
    width: 248px;
    height: 248px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-left: 0;
  }

  .u-section-5 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 536px;
    min-height: 582px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1104px;
  }

  .u-section-5 .u-shape-1 {
    width: 277px;
    height: 277px;
    margin-right: 29px;
  }

  .u-section-5 .u-shape-2 {
    width: 99px;
    height: 99px;
    margin-top: 443px;
    margin-left: 123px;
  }

  .u-section-5 .u-image-1 {
    width: 585px;
    height: 585px;
    margin-top: -852px;
    margin-left: 22px;
  }

  .u-section-5 .u-shape-3 {
    width: 201px;
    height: 201px;
    margin-top: -110px;
  }

  .u-section-5 .u-group-1 {
    width: 429px;
    min-height: 531px;
    margin-right: 0;
    margin-bottom: 27px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1357px;
  }

  .u-section-5 .u-shape-1 {
    width: 210px;
    height: 210px;
    margin-right: 0;
  }

  .u-section-5 .u-shape-2 {
    margin-top: 462px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    width: 517px;
    height: 517px;
    margin-top: -692px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-3 {
    width: 177px;
    height: 177px;
    margin-top: -115px;
  }

  .u-section-5 .u-group-1 {
    width: 527px;
    min-height: 400px;
    margin-top: 160px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-5 .u-shape-1 {
    width: 144px;
    height: 144px;
  }

  .u-section-5 .u-shape-2 {
    width: 74px;
    height: 74px;
    margin-top: 300px;
  }

  .u-section-5 .u-image-1 {
    width: 332px;
    height: 332px;
    margin-top: -457px;
  }

  .u-section-5 .u-shape-3 {
    width: 120px;
    height: 120px;
    margin-top: -88px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 153px;
    min-height: 480px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 84px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 27px;
  }
}