 .u-section-1 {
  background-image: url("images/fondorayasopacidad50.jpg");
  background-position: 50% 50%;
  min-height: 2585px;
}

.u-section-1 .u-image-1 {
  width: 661px;
  height: 580px;
  margin: 833px auto 0 calc(((100% - 1140px) / 2)  + 57px);
}

.u-section-1 .u-image-2 {
  width: 1199px;
  height: 1115px;
  transition-duration: 0.5s;
  margin: -1695px auto 0 calc(((100% - 1140px) / 2)  + -156px);
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 683px;
  height: 683px;
  margin: -513px auto 0 calc(((100% - 1140px) / 2)  + -144px);
}

.u-section-1 .u-image-3 {
  transform-origin: center center;
  width: 545px;
  height: 545px;
  transform: translateX(-50%) translateY(-50%) rotate(17.41deg);
}

.u-section-1 .u-image-4 {
  width: 514px;
  height: 772px;
  margin: -589px calc(((100% - 1140px) / 2)  + 33px) 0 auto;
}

.u-section-1 .u-image-5 {
  width: 539px;
  height: 539px;
  margin: -65px calc(((100% - 1140px) / 2)  + 31px) 0 auto;
}

.u-section-1 .u-image-6 {
  width: 300px;
  height: 300px;
  margin: -185px calc(((100% - 1140px) / 2)  + 279px) 0 auto;
}

.u-section-1 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 303px;
  height: 396px;
  margin: -699px auto 0 calc(((100% - 1140px) / 2)  + -11px);
}

.u-section-1 .u-image-7 {
  width: 197px;
  height: 350px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(19.62deg);
}

.u-section-1 .u-rotation-parent-3 {
  animation-timing-function: ease;
  width: 679px;
  height: 679px;
  margin: 201px calc(((100% - 1140px) / 2)  + -77px) 0 auto;
}

.u-section-1 .u-image-8 {
  width: 550px;
  height: 550px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(15.81deg);
}

.u-section-1 .u-image-9 {
  width: 450px;
  height: 300px;
  margin: -287px calc(((100% - 1140px) / 2)  + 97px) 0 auto;
}

.u-section-1 .u-image-10 {
  width: 509px;
  height: 713px;
  margin: -614px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-rotation-parent-4 {
  animation-timing-function: ease;
  width: 585px;
  height: 585px;
  margin: -1143px auto 60px calc(((100% - 1140px) / 2)  + 13px);
}

.u-section-1 .u-image-11 {
  width: 469px;
  height: 469px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(16.99deg);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 2606px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 739px;
    margin-right: calc(((100% - 940px) / 2)  + 90px);
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 874px;
    margin-right: calc(((100% - 940px) / 2)  + -81px);
    margin-left: auto;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -272px;
    margin-left: calc(((100% - 940px) / 2)  + -6px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -582px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2)  + 175px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 940px) / 2)  + 140px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-left: calc(((100% - 940px) / 2)  + 62px);
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-top: 482px;
    margin-right: calc(((100% - 940px) / 2)  + 23px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 940px) / 2)  + 45px);
  }

  .u-section-1 .u-image-10 {
    margin-top: -250px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-rotation-parent-4 {
    margin-left: calc(((100% - 940px) / 2)  + 13px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2181px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2)  + -240px);
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 669px;
    margin-right: calc(((100% - 720px) / 2)  + -210px);
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -67px;
    margin-right: calc(((100% - 720px) / 2)  + -67px);
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2)  + -59px);
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-6 {
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-left: calc(((100% - 720px) / 2)  + 172px);
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 720px) / 2)  + -210px);
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-rotation-parent-4 {
    margin-left: calc(((100% - 720px) / 2)  + 13px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1544px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 474px;
    margin-right: calc(((100% - 540px) / 2)  + -300px);
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 502px;
    margin-top: -1589px;
    margin-right: calc(((100% - 540px) / 2)  + -300px);
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 540px;
    height: 540px;
    margin-top: 100px;
    margin-right: calc(((100% - 540px) / 2)  + -194px);
  }

  .u-section-1 .u-image-3 {
    width: 431px;
    height: 431px;
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2)  + -274px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-right: calc(((100% - 540px) / 2)  + -25px);
    margin-left: auto;
  }

  .u-section-1 .u-rotation-parent-3 {
    width: 540px;
    height: 540px;
    margin-top: 306px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-8 {
    width: 437px;
    height: 437px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -148px;
    margin-right: calc(((100% - 540px) / 2)  + -300px);
  }

  .u-section-1 .u-image-10 {
    margin-top: -389px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-rotation-parent-4 {
    width: 540px;
    height: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-11 {
    width: 433px;
    height: 433px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 970px;
  }

  .u-section-1 .u-image-1 {
    width: 297px;
    height: 252px;
    margin-top: 236px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -28px);
  }

  .u-section-1 .u-image-2 {
    width: 411px;
    height: 382px;
    margin-top: -588px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 242px;
    height: 242px;
    margin-top: -199px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 193px;
    height: 193px;
  }

  .u-section-1 .u-image-4 {
    width: 161px;
    height: 242px;
    margin-top: -178px;
    margin-right: calc(((100% - 340px) / 2)  + -28px);
  }

  .u-section-1 .u-image-5 {
    width: 240px;
    height: 240px;
    margin-top: -41px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    width: 147px;
    height: 147px;
    margin-top: -71px;
    margin-right: calc(((100% - 340px) / 2)  + 34px);
    margin-left: auto;
  }

  .u-section-1 .u-rotation-parent-2 {
    width: 167px;
    height: 257px;
    margin-top: -368px;
    margin-right: auto;
    margin-left: -34px;
  }

  .u-section-1 .u-image-7 {
    width: 92px;
    height: 240px;
  }

  .u-section-1 .u-rotation-parent-3 {
    width: 264px;
    height: 264px;
    margin-top: 64px;
    margin-right: -33px;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    width: 214px;
    height: 214px;
  }

  .u-section-1 .u-image-9 {
    width: 163px;
    height: 109px;
    margin-top: -105px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-10 {
    width: 193px;
    height: 270px;
    margin-top: -241px;
    margin-left: calc(((100% - 340px) / 2)  + -23px);
  }

  .u-section-1 .u-rotation-parent-4 {
    width: 219px;
    height: 219px;
    margin-top: -469px;
    margin-left: 14px;
  }

  .u-section-1 .u-image-11 {
    width: 175px;
    height: 175px;
  }
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-2 .u-sheet-1 {
  min-height: 826px;
}

.u-section-2 .u-image-1 {
  width: 247px;
  height: 247px;
  margin: 34px auto 0;
}

.u-section-2 .u-image-2 {
  width: 732px;
  height: 171px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  width: 621px;
  margin: 26px auto 0;
}

.u-section-2 .u-image-3 {
  width: 510px;
  height: 251px;
  margin: 26px auto -77px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 39px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 127px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 71px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 168px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 126px;
    margin-top: 120px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.1111111111111112rem;
    width: 540px;
    margin-top: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-2 .u-image-1 {
    width: 123px;
    height: 123px;
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    height: 79px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 167px;
    margin-top: -20px;
    margin-bottom: -48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}