 .u-section-1 {
  background-image: url("images/fondorayasopacidad50.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2965px;
}

.u-section-1 .u-image-1 {
  width: 387px;
  height: 561px;
  margin: 2317px 69px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 661px;
  height: 580px;
  margin: -2045px auto 0 57px;
}

.u-section-1 .u-image-3 {
  width: 1199px;
  height: 1115px;
  transition-duration: 0.5s;
  margin: -1695px auto 0 -156px;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 683px;
  height: 683px;
  margin: -513px auto 0 -144px;
}

.u-section-1 .u-image-4 {
  transform-origin: center center;
  width: 545px;
  height: 545px;
  transform: translateX(-50%) translateY(-50%) rotate(17.41deg);
}

.u-section-1 .u-image-5 {
  width: 514px;
  height: 772px;
  margin: -589px 33px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 539px;
  height: 539px;
  margin: -65px 31px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 300px;
  height: 300px;
  margin: -185px 279px 0 auto;
}

.u-section-1 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 303px;
  height: 396px;
  margin: -699px auto 0 -11px;
}

.u-section-1 .u-image-8 {
  width: 197px;
  height: 350px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(19.62deg);
}

.u-section-1 .u-rotation-parent-3 {
  animation-timing-function: ease;
  width: 679px;
  height: 679px;
  margin: 201px -77px 0 auto;
}

.u-section-1 .u-image-9 {
  width: 550px;
  height: 550px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(15.81deg);
}

.u-section-1 .u-image-10 {
  width: 450px;
  height: 300px;
  margin: -335px 168px 0 auto;
}

.u-section-1 .u-image-11 {
  width: 509px;
  height: 713px;
  margin: -566px auto 0 0;
}

.u-section-1 .u-rotation-parent-4 {
  animation-timing-function: ease;
  width: 585px;
  height: 585px;
  margin: -1143px auto 0 13px;
}

.u-section-1 .u-image-12 {
  width: 469px;
  height: 469px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(16.99deg);
}

.u-section-1 .u-rotation-parent-5 {
  animation-timing-function: ease;
  width: 303px;
  height: 396px;
  margin: 267px 299px 0 auto;
}

.u-section-1 .u-image-13 {
  width: 197px;
  height: 350px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(19.62deg);
}

.u-section-1 .u-rotation-parent-6 {
  animation-timing-function: ease;
  width: 662px;
  height: 662px;
  margin: -279px auto 13px -92px;
}

.u-section-1 .u-image-14 {
  width: 533px;
  height: 533px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(16.35deg);
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2204px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 3113px;
    margin-right: 215px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -2674px;
    margin-right: 190px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    width: 940px;
    height: 874px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -272px;
    margin-left: 94px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -582px;
    margin-right: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 240px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 412px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-left: 162px;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-top: 482px;
    margin-right: 123px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 145px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 20px;
    margin-left: 100px;
  }

  .u-section-1 .u-rotation-parent-4 {
    margin-left: 113px;
  }

  .u-section-1 .u-rotation-parent-5 {
    margin-top: 396px;
  }

  .u-section-1 .u-rotation-parent-6 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2240px;
  }

  .u-section-1 .u-image-1 {
    width: 299px;
    height: 433px;
    margin-top: 1772px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 459px;
    height: 403px;
    margin-top: -1601px;
    margin-right: auto;
    margin-left: 28px;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 669px;
    margin-top: -1122px;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 565px;
    height: 565px;
    margin-top: -373px;
    margin-left: -122px;
  }

  .u-section-1 .u-image-4 {
    width: 451px;
    height: 451px;
  }

  .u-section-1 .u-image-5 {
    width: 316px;
    height: 475px;
    margin-top: -425px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    width: 379px;
    height: 379px;
    margin-top: -50px;
    margin-right: -19px;
  }

  .u-section-1 .u-image-7 {
    width: 195px;
    height: 195px;
    margin-top: -125px;
    margin-right: 143px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: -519px;
    margin-left: -92px;
  }

  .u-section-1 .u-rotation-parent-3 {
    width: 503px;
    height: 503px;
    margin-top: 116px;
    margin-right: -125px;
  }

  .u-section-1 .u-image-9 {
    width: 408px;
    height: 408px;
  }

  .u-section-1 .u-image-10 {
    width: 215px;
    height: 137px;
    margin-top: -178px;
    margin-right: 82px;
  }

  .u-section-1 .u-image-11 {
    width: 376px;
    height: 527px;
    margin-top: -363px;
    margin-left: -16px;
  }

  .u-section-1 .u-rotation-parent-4 {
    width: 406px;
    height: 406px;
    margin-top: -875px;
    margin-left: -32px;
  }

  .u-section-1 .u-image-12 {
    width: 325px;
    height: 325px;
  }

  .u-section-1 .u-rotation-parent-5 {
    width: 248px;
    height: 338px;
    margin-top: 306px;
    margin-right: 182px;
  }

  .u-section-1 .u-image-13 {
    width: 155px;
    height: 304px;
  }

  .u-section-1 .u-rotation-parent-6 {
    width: 437px;
    height: 437px;
    margin-bottom: 60px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-14 {
    width: 352px;
    height: 352px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1420px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 2610px;
    margin-right: 415px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -2171px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 502px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -206px;
    margin-right: 106px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -582px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 300px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 300px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-right: 275px;
    margin-left: auto;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-top: 306px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-9 {
    width: 407px;
    height: 407px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -177px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 300px;
  }

  .u-section-1 .u-rotation-parent-4 {
    margin-left: 300px;
  }

  .u-section-1 .u-rotation-parent-5 {
    height: 339px;
  }

  .u-section-1 .u-image-13 {
    height: 305px;
  }

  .u-section-1 .u-rotation-parent-6 {
    margin-top: -280px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1166px;
  }

  .u-section-1 .u-image-1 {
    width: 139px;
    height: 201px;
    margin-top: 938px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 297px;
    height: 252px;
    margin-top: -860px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-3 {
    width: 411px;
    height: 382px;
    margin-top: -634px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 242px;
    height: 242px;
    margin-top: -171px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-1 .u-image-4 {
    width: 193px;
    height: 193px;
  }

  .u-section-1 .u-image-5 {
    width: 161px;
    height: 242px;
    margin-top: -183px;
  }

  .u-section-1 .u-image-6 {
    width: 240px;
    height: 240px;
    margin-top: 17px;
    margin-right: -39px;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    width: 147px;
    height: 147px;
    margin-top: -79px;
    margin-right: 54px;
    margin-left: auto;
  }

  .u-section-1 .u-rotation-parent-2 {
    width: 167px;
    height: 257px;
    margin-top: -372px;
    margin-right: auto;
    margin-left: -84px;
  }

  .u-section-1 .u-image-8 {
    width: 92px;
    height: 240px;
  }

  .u-section-1 .u-rotation-parent-3 {
    width: 264px;
    height: 264px;
    margin-top: 38px;
    margin-right: -80px;
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    width: 214px;
    height: 214px;
  }

  .u-section-1 .u-image-10 {
    width: 120px;
    height: 80px;
    margin-top: -104px;
    margin-right: 50px;
  }

  .u-section-1 .u-image-11 {
    width: 193px;
    height: 270px;
    margin-top: -210px;
    margin-left: -37px;
  }

  .u-section-1 .u-rotation-parent-4 {
    width: 218px;
    height: 218px;
    margin-top: -455px;
    margin-left: -27px;
  }

  .u-section-1 .u-image-12 {
    width: 175px;
    height: 175px;
  }

  .u-section-1 .u-rotation-parent-5 {
    width: 142px;
    height: 232px;
    margin-top: 121px;
    margin-right: 70px;
  }

  .u-section-1 .u-image-13 {
    width: 72px;
    height: 220px;
  }

  .u-section-1 .u-rotation-parent-6 {
    width: 276px;
    height: 276px;
    margin-top: -184px;
    margin-bottom: 0;
    margin-left: -85px;
  }

  .u-section-1 .u-image-14 {
    width: 222px;
    height: 222px;
  }
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-2 .u-sheet-1 {
  min-height: 826px;
}

.u-section-2 .u-image-1 {
  width: 247px;
  height: 247px;
  margin: 34px auto 0;
}

.u-section-2 .u-image-2 {
  width: 732px;
  height: 171px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  width: 621px;
  margin: 26px auto 0;
}

.u-section-2 .u-image-3 {
  width: 510px;
  height: 251px;
  margin: 26px auto -77px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 39px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 127px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 71px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    height: 168px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 51px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -31px;
    margin-bottom: -59px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 120px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.1111111111111112rem;
    margin-top: 78px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-2 .u-image-1 {
    width: 123px;
    height: 123px;
  }

  .u-section-2 .u-image-2 {
    height: 79px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-2 .u-image-3 {
    height: 167px;
    margin-top: -20px;
    margin-bottom: -48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}