 .u-section-1 {
  background-image: url('images/COLLAGE.JPG'), linear-gradient(to bottom, rgba(64, 92, 73, 0.5), rgba(64, 92, 73, 0.5)), linear-gradient(to bottom, rgba(229, 229, 229, 1), rgba(229, 229, 229, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover;
  --color-var: #000000;
}

.u-section-1 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-1 .u-group-1 {
  width: 689px;
  height: auto;
  --color-var: #e5e5e580;
  min-height: 58px;
  margin: 62px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 1px;
  padding-right: 1px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
  margin: 5px auto -30px 0;
}

.u-section-1 .u-accordion-1 {
  margin-top: 255px;
  margin-bottom: 60px;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  --radius: 30px;
  font-size: 1rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-1 {
  height: 33px;
  width: 33px;
  background-image: none;
  padding: 7px;
}

.u-section-1 .u-accordion-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  --radius: 30px;
  font-size: 1rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-2 {
  height: 33px;
  width: 33px;
  background-image: none;
  padding: 7px;
}

.u-section-1 .u-accordion-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 21px 30px 20px;
}

.u-section-1 .u-accordion-item-3 {
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  --radius: 30px;
  font-size: 1rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-3 {
  height: 33px;
  width: 33px;
  background-image: none;
  padding: 7px;
}

.u-section-1 .u-accordion-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  --radius: 30px;
  font-size: 1rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-4 {
  height: 33px;
  width: 33px;
  background-image: none;
  padding: 7px;
}

.u-section-1 .u-accordion-pane-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-accordion-1 {
    margin-bottom: -133px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-1 .u-accordion-1 {
    margin-bottom: -261px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 415px;
    margin-bottom: -370px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-group-1 {
    min-height: 33px;
    width: 290px;
    margin-top: 21px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin: 0 5px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 89px;
    margin-bottom: 21px;
  }

  .u-section-1 .u-accordion-link-1 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-accordion-pane-1 {
    min-height: 150px;
  }

  .u-section-1 .u-accordion-link-2 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-accordion-pane-2 {
    min-height: 150px;
  }

  .u-section-1 .u-accordion-link-3 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-accordion-pane-3 {
    min-height: 150px;
  }

  .u-section-1 .u-accordion-link-4 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-accordion-pane-4 {
    min-height: 150px;
  }
}