 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/737e647d4d53a1c3efa82db9c3e323dd.jpg");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1348px;
}

.u-section-1 .u-shape-1 {
  width: 910px;
  height: 948px;
  margin: 200px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  width: 882px;
  font-size: 1.125rem;
  margin: -819px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 159px 94px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 121px 94px 0 115px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  width: 882px;
  font-size: 1.125rem;
  margin: 128px auto 0;
}

.u-section-1 .u-image-1 {
  width: 94px;
  height: 147px;
  margin: -697px 502px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 152px;
  height: 120px;
  margin: 286px 473px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 94px;
  height: 122px;
  margin: -761px 502px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 112px;
  height: 101px;
  margin: 315px 493px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 23px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 70px;
    margin-left: 9px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -670px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-1 .u-shape-1 {
    height: 690px;
    width: 620px;
    margin-top: 109px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -591px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 98px;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 81px;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 102px;
    margin-left: 54px;
    margin-right: 54px;
  }

  .u-section-1 .u-image-1 {
    width: 62px;
    height: 97px;
    margin-top: -506px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    width: 108px;
    height: 85px;
    margin-top: 203px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    width: 73px;
    height: 94px;
    margin-top: -551px;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    width: 80px;
    height: 73px;
    margin-top: 224px;
    margin-right: auto;
    margin-left: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 7px;
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -670px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-1 .u-shape-1 {
    height: 522px;
    width: 306px;
    margin-top: 107px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.625rem;
    margin-top: -458px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 71px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    margin-top: 47px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.625rem;
    margin-top: 42px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 40px;
    height: 62px;
    margin-top: -369px;
  }

  .u-section-1 .u-image-2 {
    width: 48px;
    height: 37px;
    margin-top: 170px;
  }

  .u-section-1 .u-image-3 {
    width: 48px;
    height: 63px;
    margin-top: -396px;
  }

  .u-section-1 .u-image-4 {
    width: 40px;
    height: 35px;
    margin-top: 186px;
    margin-left: 260px;
    margin-bottom: 213px;
  }
}