 .u-section-1 {
  background-image: url("/images/fondorayasopacidad50.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2664px;
}

.u-section-1 .u-image-1 {
  width: 442px;
  height: 620px;
  margin: 1792px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 661px;
  height: 580px;
  margin: -1579px auto 0 57px;
}

.u-section-1 .u-image-3 {
  width: 1199px;
  height: 1115px;
  transition-duration: 0.5s;
  margin: -1695px auto 0 -156px;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 683px;
  height: 683px;
  margin: -513px auto 0 -144px;
}

.u-section-1 .u-image-4 {
  transform-origin: center center;
  width: 545px;
  height: 545px;
  transform: translateX(-50%) translateY(-50%) rotate(17.41deg);
}

.u-section-1 .u-image-5 {
  width: 514px;
  height: 772px;
  margin: -589px 33px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 539px;
  height: 539px;
  margin: -65px 31px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 300px;
  height: 300px;
  margin: -185px 279px 0 auto;
}

.u-section-1 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 303px;
  height: 396px;
  margin: -699px auto 0 -11px;
}

.u-section-1 .u-image-8 {
  width: 197px;
  height: 350px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(19.62deg);
}

.u-section-1 .u-rotation-parent-3 {
  animation-timing-function: ease;
  width: 679px;
  height: 679px;
  margin: 201px -77px 0 auto;
}

.u-section-1 .u-image-9 {
  width: 550px;
  height: 550px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(15.81deg);
}

.u-section-1 .u-image-10 {
  width: 450px;
  height: 300px;
  margin: -287px 97px 0 auto;
}

.u-section-1 .u-rotation-parent-4 {
  animation-timing-function: ease;
  width: 585px;
  height: 585px;
  margin: -1044px auto 0 13px;
}

.u-section-1 .u-image-11 {
  width: 469px;
  height: 469px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(16.99deg);
}

.u-section-1 .u-image-12 {
  width: 533px;
  height: 300px;
  margin: 537px 261px -79px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1956px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1698px;
    margin-left: 262px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 189px;
  }

  .u-section-1 .u-image-3 {
    width: 940px;
    height: 874px;
    margin-left: 81px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -272px;
    margin-left: -6px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -582px;
    margin-right: 251px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 140px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 312px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-left: 62px;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-top: 482px;
    margin-right: 23px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 178px;
    margin-left: 445px;
  }

  .u-section-1 .u-rotation-parent-4 {
    margin-top: -722px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 361px;
    margin-bottom: -777px;
    margin-left: 365px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1751px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 372px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 299px;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 669px;
    margin-left: 210px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -67px;
    margin-left: 104px;
  }

  .u-section-1 .u-image-5 {
    margin-right: auto;
    margin-left: 265px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 250px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 422px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-left: 172px;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-right: 133px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 288px;
    margin-left: 480px;
  }

  .u-section-1 .u-image-12 {
    margin-left: 397px;
    margin-right: 397px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1660px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 398px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 474px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 502px;
    margin-top: -1589px;
    margin-left: 300px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 540px;
    height: 540px;
    margin-top: 100px;
    margin-left: 194px;
  }

  .u-section-1 .u-image-4 {
    width: 431px;
    height: 431px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 300px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 289px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 512px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-left: 262px;
  }

  .u-section-1 .u-rotation-parent-3 {
    width: 540px;
    height: 540px;
    margin-top: 306px;
    margin-right: 250px;
  }

  .u-section-1 .u-image-9 {
    width: 437px;
    height: 437px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -148px;
    margin-right: 378px;
    margin-left: 390px;
  }

  .u-section-1 .u-rotation-parent-4 {
    width: 540px;
    height: 540px;
    margin-top: -861px;
    margin-left: 0;
  }

  .u-section-1 .u-image-11 {
    width: 433px;
    height: 433px;
  }

  .u-section-1 .u-image-12 {
    margin: 582px 307px -822px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 477px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 298px;
    margin-top: -1436px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 316px;
    margin-top: -386px;
    margin-left: 350px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 226px;
    height: 226px;
    margin-top: -151px;
    margin-left: 350px;
  }

  .u-section-1 .u-image-4 {
    width: 180px;
    height: 180px;
  }

  .u-section-1 .u-image-5 {
    width: 161px;
    height: 242px;
    margin-top: -213px;
    margin-right: 409px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 340px;
    margin-top: 196px;
    margin-right: 400px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 14px;
    margin-right: 440px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-left: 362px;
  }

  .u-section-1 .u-rotation-parent-3 {
    width: 340px;
    height: 340px;
    margin-top: -590px;
    margin-right: 350px;
  }

  .u-section-1 .u-image-9 {
    width: 275px;
    height: 275px;
  }

  .u-section-1 .u-image-10 {
    width: 340px;
    height: 227px;
    margin-top: 52px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-rotation-parent-4 {
    width: 340px;
    height: 340px;
    margin-top: -988px;
  }

  .u-section-1 .u-image-11 {
    width: 273px;
    height: 273px;
  }

  .u-section-1 .u-image-12 {
    width: 198px;
    height: 111px;
    margin: 862px 400px -311px;
  }
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}